@model List<Dish>

<h1>Welcome to CRUDelicious</h1>
<div class="row">
    <h5 class="col-5">Check out some recent dishes!</h5>
    <a class="col-5" href="">Add a Dish</a>
</div>
<hr class="my-4">
@foreach (var dish in @Model)
{
    <h3><a href="">@dish.dish_name </a> by @dish.chef_name</h3>
}
