@model Dish
<div class="row">
    <h1 class="col-4">Add a New Dish</h1>
    <a class="col-4" asp-action="Index" asp-controller="Home">View all Dishes</a>
</div>

<form asp-action="Create" asp-controller="Home" method="post">

    <span asp-validation-for="chef_name"></span>
    <br>
    <label asp-for="chef_name"></label>
    <input asp-for="chef_name">
    <br>
    <span asp-validation-for="dish_name"></span>
    <br>
    <label asp-for="dish_name"></label>
    <input asp-for="dish_name">
    <br>
    <span asp-validation-for="calories"></span>
    <br>
    <label asp-for="calories"></label>
    <input asp-for="calories">
    <br>
    <span asp-validation-for="tastiness"></span>
    <br>
    <label asp-for="tastiness"></label>
    <select asp-for="tastiness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <span asp-validation-for="description"></span>
    <br>
    <label asp-for="description"></label>
    <br>
    <textarea asp-for="description" cols="25" rows="3"></textarea>
    <br>

    <button class="btn btn-primary">Add Dish</button>

</form>